*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    background-color: rgb(238, 228, 228)
}

main{
    min-height: 100%;
    padding-bottom: 10px;
    margin-top: 140px;  
}
  
  footer{
    background:black;
    position: relative;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    padding-top: 5px;
    width: 100%;
}

.logo-posicion{
    position: fixed;
    bottom: 10px;
    right: 15px;
} 
.nav-footer{
    list-style-type: none;
    padding: 6px;
    margin-left: 8px;

}

.nav-link-footer {
    color:white;
    font-size:x-small;
    text-decoration: none;
}

.navbar-brand :hover{
    transition: 0.5s;
    text-shadow: 5px 5px 7px black;
    
}

.nav-link{
    margin: 60px 10px 0px;
    font-size: medium;
    
}

.card{
    margin: 0px;
    border-radius: 6px;
    box-shadow: 0px 1px 05px rgb(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 10px rgb(0,0,0,0.4);
    transform:translateY(-0.5%) ;
}

#modo{
    width: 50px;
    font-size: 35px;
    cursor: pointer;
}

.dark{
    background: black;
    color: white;
}

.dark .card{
    background:black;
}

.dark #modo{
    color: orange;
}

.dark .btn{
   background:gray;
}

